*.ol
*.os

/src/liburev.a
/src/liburev.so*

/examples/urev-cp
/examples/urev-cp-vecs

/test/adjust_restore_iovecs_readv_or_writev
/test/adjust_restore_iovecs_recvmsg_or_sendmsg

config-host.h
config-host.mak
config.log
