*.ol
*.os
core

/src/libiorn.a
/src/libiorn.so*

/examples/base-cp
/examples/vecs-cp
/examples/link-cp
/examples/webserver
/examples/clock

/test/iovec_array_adjust_after_short

config-host.h
config-host.mak
config.log
